CT_CONFIG_VERSION="4"
# CT_PREFIX_DIR_RO is not set
CT_ARCH_M68K=y
CT_ARCH_CPU="68000"
CT_MULTILIB=y
CT_STATIC_TOOLCHAIN=y
CT_TARGET_VENDOR="ddraig"
CT_BINUTILS_EXTRA_CONFIG_ARRAY="--disable-nls --with-system-readline"
CT_NEWLIB_SRC_DEVEL=y
CT_NEWLIB_DEVEL_URL="https://github.com/ddraig68k/newlib-cygwin.git"
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_FLOAT=y
# CT_LIBC_NEWLIB_MULTITHREAD is not set
CT_GCC_V_12=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_GDB_V_13=y
CT_GDB_CROSS_EXTRA_CONFIG_ARRAY="--without-python --disable-nls"
CT_EXPAT_V_2_5=y
CT_GETTEXT_V_0_23_1=y
CT_ISL_V_0_26=y
CT_LIBICONV_V_1_16=y
CT_NCURSES_V_6_4=y
CT_ZSTD_V_1_5_6=y
CT_GETTEXT_NEEDED=y
